                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                        <div class="logo-image-small">
                            <img src="{{ site_url }}/assets/paper-dashboard/img/logo-small.png">
                        </div>
                    </a>
                    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                        Creative Tim
                        <!-- <div class="logo-image-big">
                          <img src="{{ site_url }}/assets/paper-dashboard/img/logo-big.png">
                        </div> -->
                    </a>
                </div>
