                <div class="logo">
                    <a href="{{ site_url() }}" class="simple-text logo-mini">
                        <div class="logo-image-small">
                            <img src="{{ site_logo_img_src }}">
                        </div>
                    </a>
                    <a href="{{ site_url() }}" class="simple-text logo-normal">
                        <span style="font-size: initial;">{{ site_logo_text }} </span>
                    </a>
                </div>
